  body {
    text-align: left;
    margin-left: 50px;
    color: #000000;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 27px;
  }
  h1 {
    font-size: large;
    color: blue;
    margin-top: 50px;
  }

table, th, td{
    border:1px solid black;
}
table{
    border-collapse:collapse;
    width: 60%;
   }
tr {
    text-align: center;
    width: 200px;
    height: 100%;
}
tbody tr:hover{
    background-color:#ddd;
    cursor:pointer;
}
